.details-body{
    width: 100vw;
    height: 100vh;
    background: url(../images/images2/backgrounds/blurry-gradient-haikei.png) center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.patient_record_container{
    color: aqua;
}

.form_first{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;
}

.form_second{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
}

.admin-btns{
    justify-content: space-evenly;
padding-top: 1rem;
text-align: center;

}

.admin-btns button{
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#ailment{
display: flex;
}


@media only screen and (max-width: 1109px) {
    .form_first{
        display: flex;
        flex-direction: column;
       
    }


}

@media only screen and (max-width: 507px) {
    .profile-home-head {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 25%;
    }

    .back-arrow {
        height: 5rem;
        top: 2px;
        width: 20%;
    }

 

}