.home-page{
    background-color: rgb(11, 56, 116);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/images2/backgrounds/layered-steps-haikei.png) center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.input_wrap  {
 display: flex;
 flex-direction: row;
align-items: center;
width: 100%;
justify-content: center;
margin-top: 10%;;

}


.register_wrap{
    margin-right: 25%;
    text-align: center;
   
}


.login_wrap{
    text-align: center;
    
}

.logoh{
    font-family: leuge 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 45%;
    color: #AEEBF2;
    width: 20%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

@media only screen and (max-width: 600px) {
    .input_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
     
    .register_wrap{
        margin-right: 0%;  
        padding-bottom: 2rem;
    }

    .logoh{
        margin-left: 10%;
        
    }
  }