

.Login_heading{
    color: #AEEBF2;
    margin-bottom: 0.8rem;
    text-decoration: underline;
}

.Login_text{
    color: #AEEBF2;
}

.Login_btn{
    position: relative;
  left: 0.8rem;
   margin-top: 1.5rem;
  
}

input.btn.btn-success{
    color: #AEEBF2;
    background-color: #46658c;
    border: 1px solid #AEEBF2;
}


