.logout{
    margin-left: 10%;
    color: aqua;
    margin-right: 10%;
    min-width: 6rem;
     max-width: 6rem;
     height: 5rem;
    border-radius: 20%;
    
    }
    
    .logout_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/images2/log-out.png);
    }