.map-page-container{
    background-color: rgb(11, 56, 116);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/images2/backgrounds/layered-steps-haikei.png) center no-repeat;
    background-size: cover;
    box-sizing: border-box;

}