
   
 .profile-container  {
    width: 100vw;
    height: 100vh;
    background: url(../images/images2/backgrounds/blurry-gradient-haikei.png) center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.profile-home-head{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    
}

.profile-logo{
    position: relative;
    font-family: leuge 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2%;
    margin-top: 2%;
    color: #AEEBF2;
    width: 20%;
font-size: 1.5rem;

}

.back-arrow{
  
    position: relative;
    
    top: 2px;
    width: 20%;
   
 }

.img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/images2/share.png);
}

.logout-btnsP{
    margin-top: 3rem;
}

// main body


.profile-card{
width: 75vw;
background-color: #021140;
border: 1px solid #AEEBF2;
position: relative;
left: 10%;
top: 10%;

}

.profile-img-pat-details{
   display: flex;
   flex-direction: row;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.profile-img-container{
    
min-width: 5rem;
margin-left: 2rem;
border: 1px solid #AEEBF2;
border-radius: 20%;
overflow: hidden;
}

.profile-img{
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/persontest.jpg);
}

.profile-name-patnumber{
text-align: left;
margin-left: 2rem;
color: #AEEBF2;
font-family: livvic;
}

.profile-ailment{
    margin: 2rem;
    color: #AEEBF2;
    font-family: livvic;
}

.profile-treatment{
    margin: 2rem;
    color: #AEEBF2;
    font-family: livvic;
}

.profile-doctor{
    margin: 2rem;
    color: #AEEBF2;
    font-family: livvic;
}

.Appointments-due{
    margin: 2rem;
    color: #AEEBF2;
    font-family: livvic;
}


.profile-links{
    position: absolute;
    bottom: 0;
   
    width: 100%;
}


.maplink{
    color: #AEEBF2;
    width: 100%;
    position: relative;
    font-family: leuge 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 9rem;
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .maplink{
        margin-bottom: 6rem;
    }

  }


@media only screen and (max-width: 470px) {
    .maplink{
        margin-bottom: 3rem;
       
    }


}

@media only screen and (max-width: 407px) {
    .profile-img-pat-details{
        display: flex;
        flex-direction: column;
      
     }


}

@media only screen and (max-width: 360px) {
    .maplink{
        margin-bottom: 1rem;
       
    }


}



.profile-img-pat-details{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }