
.reg_heading{
    color: #AEEBF2;
    margin-bottom: 0.8rem;
    text-decoration: underline;
}


.reg_text{
    color: #AEEBF2;
}


.reg_btn{
  
    position: relative;
    left: 0.8rem;
     margin-top: 1.5rem;
     
}