.Treatmeant-card{
    display: flex;
    width: 80vw;
background-color: #021140;
border: 1px solid #AEEBF2;
position: relative;
left: 10%;
top: 10%;
}

.vid-container{
    width: 100%;
    padding: 0%;
}

.vid-container iframe{
    width: 100%;
}