* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkblue;
}
body img {
  width: 100%;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/bg.jpg) center no-repeat;
  background-size: cover;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-text h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.banner-text p {
  color: #eee;
  font-family: "Josefin sans", sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: right;
}

.btns {
  position: absolute;
  top: 50px;
  right: 60px;
}

.btn {
  width: 170px;
  padding: 10px 15px;
  margin-right: 20px;
  border-radius: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  color: #fff;
  border: 2px solid tomato;
  transition: transform 0.3s;
}

.login-btn {
  background-color: tomato;
}
.login-btn:hover {
  transform: translateY(-2px);
}
.login-btn:active {
  transform: translateY(0);
}

.signup-btn {
  background-color: transparent;
}
.signup-btn:hover {
  transform: translateY(-2px);
}
.signup-btn:active {
  transform: translateY(0);
}

.form-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.disable {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 400px;
  background: linear-gradient(rgba(148, 42, 42, 0.8), rgba(185, 129, 129, 0.6)), url(../images/bg.jpg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.display {
  opacity: 1;
  visibility: visible;
}

.x-btn {
  position: absolute;
  right: 20px;
  font-size: 50px;
  color: #222;
  cursor: pointer;
}

.form-header {
  text-align: center;
  margin: 80px 0 150px 0;
  color: #fff;
}
.form-header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}
.form-header h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form button {
  width: 310px;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #d867d8;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 50px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s;
}
.form:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
.form:active {
  transform: translateY(0);
}

.input-group {
  margin-bottom: 10px;
  position: relative;
}
.input-group input {
  width: 250px;
  padding: 15px 15px 15px 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #ddd;
}
.input-group i {
  position: absolute;
  top: 13px;
  left: 17px;
  font-size: 18px;
  color: #aaa;
}

@font-face {
  font-family: livvic;
  src: url(../Fonts/Livvic/Livvic-SemiBold.ttf);
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/images2/backgrounds/layered-steps-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.home-head {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo {
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2%;
  margin-top: 2%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
}
.logo h2 {
  font-weight: 300;
  margin-bottom: -1rem;
}

.user-id {
  width: 80%;
  text-align: center;
  color: #AEEBF2;
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 5%;
  font-weight: 600;
  font-size: 2.5rem;
}

.h-firstline-links {
  display: flex;
  flex-direction: row;
  margin-top: 0.1rem;
  height: 15rem;
  justify-content: space-around;
}

.hfirst-link {
  margin-left: 10%;
  border: 2px solid white;
  color: aqua;
  margin-right: 10%;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.hfirst-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/user.png);
}

.hsecond-link {
  position: relative;
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.3rem;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.hsecond-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/treatment.png);
}

.h-third-links {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  height: 12rem;
  align-items: center;
}

.hthird-link {
  border: 2px solid white;
  color: aqua;
  display: flex;
  min-width: 14rem;
  max-width: 14rem;
  height: 100%;
  background-color: #46658c;
  border-radius: 20%;
}

.hthird-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/smartphone.png);
}

.hfirst-link-text {
  color: #AEEBF2;
  text-align: center;
}
.hfirst-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.hsecond-link-text {
  color: #AEEBF2;
  text-align: center;
}
.hsecond-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.hthird-line-text {
  color: #AEEBF2;
  text-align: center;
}
.hthird-line-text p {
  font-family: livvic;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .h-firstline-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hfirst-link {
    margin-bottom: 2.4rem;
  }
  .h-third-links {
    height: 9rem;
    margin-top: 2.7rem;
  }
}
@media only screen and (max-width: 740px) {
  .home-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.profile-container {
  width: 100vw;
  height: 100vh;
  background: url(../images/images2/backgrounds/blurry-gradient-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.profile-home-head {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile-home-head h2 {
  font-weight: 300;
  margin-bottom: -1rem;
}

.profile-logo {
  position: relative;
  left: 20%;
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2%;
  margin-top: 2%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
}

.back-arrow {
  position: relative;
  left: 2px;
  top: 2px;
  width: 20%;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/share.png);
}

.profile-card {
  width: 75vw;
  background-color: #021140;
  border: 1px solid #AEEBF2;
  position: relative;
  left: 10%;
  top: 10%;
}

.profile-img-pat-details {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-img-container {
  width: 7rem;
  margin-left: 2rem;
  border: 1px solid #AEEBF2;
  border-radius: 20%;
  overflow: hidden;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/persontest.jpg);
}

.profile-name-patnumber {
  text-align: left;
  margin-left: 5rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-ailment {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-treatment {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-doctor {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.Appointments-due {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.entertainment-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  background-image: url(../images/images2/backgrounds/wave-haikei.png);
}

.profile-logo p {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}
.profile-logo p h2 {
  font-weight: 300;
  margin-bottom: -1rem;
}

.e-firstline-links {
  display: flex;
  flex-direction: row;
  margin-top: 0.1rem;
  height: 15rem;
  justify-content: space-around;
}

.efirst-link {
  margin-left: 10%;
  border: 2px solid white;
  color: aqua;
  margin-right: 10%;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.efirst-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/gamepad.png);
}

.esecond-link {
  position: relative;
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.3rem;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.esecond-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/clapper.png);
}

.e-third-links {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  height: 12rem;
  align-items: center;
}

.ethird-link {
  border: 2px solid white;
  color: aqua;
  display: flex;
  min-width: 14rem;
  max-width: 14rem;
  height: 100%;
  background-color: #46658c;
  border-radius: 20%;
}

.ethird-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/youtube.png);
}

.efirst-link-text {
  color: #AEEBF2;
  text-align: center;
}
.efirst-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.esecond-link-text {
  color: #AEEBF2;
  text-align: center;
}
.esecond-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.ethird-line-text {
  color: #AEEBF2;
  text-align: center;
}
.ethird-line-text p {
  font-family: livvic;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .e-firstline-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .efirst-link {
    margin-bottom: 2.4rem;
  }
  .e-third-links {
    height: 9rem;
    margin-top: 2.7rem;
  }
}/*# sourceMappingURL=app.css.map */