* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkblue;
}
body img {
  width: 100%;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}

.home-page {
  background-color: rgb(11, 56, 116);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/images2/backgrounds/layered-steps-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.input_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 10%;
}

.register_wrap {
  margin-right: 25%;
  text-align: center;
}

.login_wrap {
  text-align: center;
}

.logoh {
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 45%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

@media only screen and (max-width: 600px) {
  .input_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .register_wrap {
    margin-right: 0%;
    padding-bottom: 2rem;
  }
  .logoh {
    margin-left: 10%;
  }
}
@font-face {
  font-family: livvic;
  src: url(../Fonts/Livvic/Livvic-SemiBold.ttf);
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(../images/images2/backgrounds/layered-steps-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.home-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 4rem;
}

.logo {
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2%;
  margin-top: 2%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
}
.logo h2 {
  font-weight: 300;
  margin-bottom: -1rem;
}

.user-id {
  width: 80%;
  text-align: center;
  color: #AEEBF2;
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 5%;
  font-weight: 600;
  font-size: 2.5rem;
}

.h-firstline-links {
  display: flex;
  flex-direction: row;
  margin-top: 0.1rem;
  height: 15rem;
  justify-content: space-around;
}

.hfirst-link {
  margin-left: 10%;
  border: 2px solid white;
  color: aqua;
  margin-right: 10%;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.hfirst-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/user.png);
}

.hsecond-link {
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.3rem;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.hsecond-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/treatment.png);
}

.h-third-links {
  display: flex;
  flex-direction: column;
  height: 12rem;
  align-items: center;
}

.hthird-link {
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 4.5rem;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.hthird-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/smartphone.png);
}

.hfirst-link-text {
  color: #AEEBF2;
  text-align: center;
}
.hfirst-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.hsecond-link-text {
  color: #AEEBF2;
  text-align: center;
}
.hsecond-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.hthird-line-text {
  color: #AEEBF2;
  text-align: center;
}
.hthird-line-text p {
  font-family: livvic;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .h-firstline-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hfirst-link {
    margin-bottom: 2.4rem;
  }
  .h-third-links {
    height: 9rem;
    margin-top: 2.7rem;
  }
}
@media only screen and (max-width: 740px) {
  .home-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.logout-btns {
  margin-top: 1rem;
  margin-right: 1rem;
}

.profile-container {
  width: 100vw;
  height: 100vh;
  background: url(../images/images2/backgrounds/blurry-gradient-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.profile-home-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-logo {
  position: relative;
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2%;
  margin-top: 2%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
}

.back-arrow {
  position: relative;
  top: 2px;
  width: 20%;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/share.png);
}

.logout-btnsP {
  margin-top: 3rem;
}

.profile-card {
  width: 75vw;
  background-color: #021140;
  border: 1px solid #AEEBF2;
  position: relative;
  left: 10%;
  top: 10%;
}

.profile-img-pat-details {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-img-container {
  min-width: 5rem;
  margin-left: 2rem;
  border: 1px solid #AEEBF2;
  border-radius: 20%;
  overflow: hidden;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/persontest.jpg);
}

.profile-name-patnumber {
  text-align: left;
  margin-left: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-ailment {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-treatment {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-doctor {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.Appointments-due {
  margin: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.profile-links {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.maplink {
  color: #AEEBF2;
  width: 100%;
  position: relative;
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 9rem;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .maplink {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 470px) {
  .maplink {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 360px) {
  .maplink {
    margin-bottom: 1rem;
  }
}
.entertainment-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  background-image: url(../images/images2/backgrounds/wave-haikei.png);
}

.entertainment-home-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.back-arrow {
  position: relative;
  top: 2px;
  width: 20%;
}

.profile-logo p {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}
.profile-logo p h2 {
  font-weight: 300;
  margin-bottom: -1rem;
}

.e-firstline-links {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  height: 20rem;
  justify-content: space-around;
}

.efirst-link {
  margin-left: 10%;
  border: 2px solid white;
  color: aqua;
  margin-right: 10%;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.efirst-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/gamepad.png);
}

.esecond-link {
  position: relative;
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.3rem;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.esecond-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/clapper.png);
}

.e-third-links {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  height: 12rem;
  align-items: center;
}

.ethird-link {
  position: relative;
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.3rem;
  min-width: 14rem;
  max-width: 14rem;
  height: 10rem;
  background-color: #46658c;
  border-radius: 20%;
}

.ethird-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/youtube.png);
}

.efirst-link-text {
  color: #AEEBF2;
  text-align: center;
}
.efirst-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.esecond-link-text {
  color: #AEEBF2;
  text-align: center;
}
.esecond-link-text p {
  font-family: livvic;
  font-size: 2rem;
}

.ethird-line-text {
  color: #AEEBF2;
  text-align: center;
}
.ethird-line-text p {
  font-family: livvic;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .e-firstline-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .efirst-link {
    margin-bottom: 2.4rem;
  }
  .e-third-links {
    height: 9rem;
    margin-top: 4.7rem;
  }
}
.Login_heading {
  color: #AEEBF2;
  margin-bottom: 0.8rem;
  text-decoration: underline;
}

.Login_text {
  color: #AEEBF2;
}

.Login_btn {
  position: relative;
  left: 0.8rem;
  margin-top: 1.5rem;
}

input.btn.btn-success {
  color: #AEEBF2;
  background-color: #46658c;
  border: 1px solid #AEEBF2;
}

.reg_heading {
  color: #AEEBF2;
  margin-bottom: 0.8rem;
  text-decoration: underline;
}

.reg_text {
  color: #AEEBF2;
}

.reg_btn {
  position: relative;
  left: 0.8rem;
  margin-top: 1.5rem;
}

.logout {
  margin-left: 10%;
  color: aqua;
  margin-right: 10%;
  min-width: 6rem;
  max-width: 6rem;
  height: 5rem;
  border-radius: 20%;
}

.logout_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/log-out.png);
}

.map-page-container {
  width: 100vw;
  height: 100vh;
  background: url(../images/images2/backgrounds/blurry-gradient-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.map-card {
  width: 75vw;
  background-color: #021140;
  border: 1px solid #AEEBF2;
  position: relative;
  left: 10%;
  top: 10%;
  height: 70%;
}

.map-img-container {
  margin-left: 10%;
  color: aqua;
  margin-right: 10%;
  margin-top: 5%;
  width: 80%;
  height: 80%;
  background-color: #021140;
  border-radius: 20%;
}

.map-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/images2/map.png);
}

.admin-container {
  width: 100vw;
  height: 100vh;
  background: url(../images/images2/backgrounds/blurry-gradient-haikei.png) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.admin-home-head {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.admin-logo {
  position: relative;
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2%;
  margin-top: 2%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
}

.logout-btnsA {
  margin-top: 3rem;
}

.admin-card {
  width: 75vw;
  background-color: #021140;
  border: 1px solid #AEEBF2;
  position: relative;
  left: 10%;
  top: 10%;
}

.patient {
  text-align: left;
  margin-left: 2rem;
  color: #AEEBF2;
  font-family: livvic;
}

.admin-card-title {
  font-family: leuge "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2%;
  margin-top: 2%;
  color: #AEEBF2;
  width: 20%;
  font-size: 1.5rem;
}/*# sourceMappingURL=app.css.map */